[Unit]
Description="Export PHP-FPM servcer-status to a log file"

[Service]
ExecStart=php /etc/helpers/php_fpm_status_to_log_file.php

# Files are created with mode 0644
UMask=0022
