Listen 127.0.0.1:8080
<Location /server-status>
  SetHandler server-status
  Require local
</Location>

<LocationMatch "/xx-fpm.status">
  Require local
  ProxyPass "unix:{{ php_fpm_socket_path }}|fcgi://localhost/fpm-status"
</LocationMatch>
